@font-face {
  font-weight: 400 785;
  font-family: 'Inter-Variable';
  font-style: normal;
  src:
    url('./Inter-Variable.woff2') format('woff2 supports variations'),
    url('./Inter-Variable.woff2') format('woff2-variations');
  font-display: swap;
  font-stretch: 75% 100%;
  font-variation-settings: 'wght' 400;
}

@font-face {
  font-weight: 400;
  font-family: 'PressStart2P';
  font-style: normal;
  src: url('./PressStart2P-Regular.woff') format('woff');
  font-display: swap;
}