@font-face {
  font-weight: 400 785;
  font-family: Inter-Variable;
  font-style: normal;
  src: url('../fonts/Inter-Variable.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: 'PressStart2P';
  font-style: normal;
  src: url('./PressStart2P-Regular.woff') format('woff');
  font-display: swap;
}